# Ignore RAW or large data files
data/original/
data/raw/*

# Ignore Jupyter checkpoints
notebook/.ipynb_checkpoints/

# Ignore media used for LinkedIn post exports
assets/linkedin_media/*

# Ignore media used for dashboard backgrounds
assets/background/*

# Ignore Tableau files when pushing to GitHub
*.twb
*.twbx

# Ignore temporary files
*.twbr